<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交易代码：</label>
                            <div class="col-sm-8">
                                <input id="trancode" name="trancode" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">时间：</label>
                            <div class="col-sm-8">
                                <input id="time" name="time" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开盘：</label>
                            <div class="col-sm-8">
                                <input id="opening" name="opening" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最高：</label>
                            <div class="col-sm-8">
                                <input id="highest" name="highest" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最低：</label>
                            <div class="col-sm-8">
                                <input id="lowest" name="lowest" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收盘：</label>
                            <div class="col-sm-8">
                                <input id="closing" name="closing" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">成交量：</label>
                            <div class="col-sm-8">
                                <input id="volume" name="volume" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线1：</label>
                            <div class="col-sm-8">
                                <input id="maMa1" name="maMa1" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线2：</label>
                            <div class="col-sm-8">
                                <input id="maMa2" name="maMa2" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线3：</label>
                            <div class="col-sm-8">
                                <input id="maMa3" name="maMa3" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线4：</label>
                            <div class="col-sm-8">
                                <input id="maMa4" name="maMa4" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线5：</label>
                            <div class="col-sm-8">
                                <input id="maMa5" name="maMa5" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线6：</label>
                            <div class="col-sm-8">
                                <input id="maMa6" name="maMa6" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线7：</label>
                            <div class="col-sm-8">
                                <input id="maMa7" name="maMa7" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">均线8：</label>
                            <div class="col-sm-8">
                                <input id="maMa8" name="maMa8" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">VOL.成交量：</label>
                            <div class="col-sm-8">
                                <input id="volVolume" name="volVolume" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">成交量均线1：</label>
                            <div class="col-sm-8">
                                <input id="volMavol1" name="volMavol1" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">成交量均线2：</label>
                            <div class="col-sm-8">
                                <input id="volMavol2" name="volMavol2" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">DIF：</label>
                            <div class="col-sm-8">
                                <input id="macdDif" name="macdDif" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">DEA：</label>
                            <div class="col-sm-8">
                                <input id="macdDea" name="macdDea" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">MACD：</label>
                            <div class="col-sm-8">
                                <input id="macdMacd" name="macdMacd" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/system/futures/add.js">
</script>
</body>
</html>
