<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.futures.dao.FuturesDao">

    <select id="get" resultType="com.bootdo.futures.domain.FuturesDO">
		select `id`,`trancode`,`time`,`opening`,`highest`,`lowest`,`closing`,`volume`,`ma_ma1`,`ma_ma2`,`ma_ma3`,`ma_ma4`,`ma_ma5`,`ma_ma6`,`ma_ma7`,`ma_ma8`,`vol_volume`,`vol_mavol1`,`vol_mavol2`,`macd_dif`,`macd_dea`,`macd_macd` from tb_futures where id = #{value}
	</select>

    <select id="list" resultType="com.bootdo.futures.domain.FuturesDO">
        select
        `id`,`trancode`,`time`,`opening`,`highest`,`lowest`,`closing`,`volume`,`ma_ma1`,`ma_ma2`,`ma_ma3`,`ma_ma4`,`ma_ma5`,`ma_ma6`,`ma_ma7`,`ma_ma8`,`vol_volume`,`vol_mavol1`,`vol_mavol2`,`macd_dif`,`macd_dea`,`macd_macd`
        from tb_futures
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="trancode != null and trancode != ''">and trancode = #{trancode}</if>
            <if test="time != null and time != ''">and time = #{time}</if>
            <if test="opening != null and opening != ''">and opening = #{opening}</if>
            <if test="highest != null and highest != ''">and highest = #{highest}</if>
            <if test="lowest != null and lowest != ''">and lowest = #{lowest}</if>
            <if test="closing != null and closing != ''">and closing = #{closing}</if>
            <if test="volume != null and volume != ''">and volume = #{volume}</if>
            <if test="maMa1 != null and maMa1 != ''">and ma_ma1 = #{maMa1}</if>
            <if test="maMa2 != null and maMa2 != ''">and ma_ma2 = #{maMa2}</if>
            <if test="maMa3 != null and maMa3 != ''">and ma_ma3 = #{maMa3}</if>
            <if test="maMa4 != null and maMa4 != ''">and ma_ma4 = #{maMa4}</if>
            <if test="maMa5 != null and maMa5 != ''">and ma_ma5 = #{maMa5}</if>
            <if test="maMa6 != null and maMa6 != ''">and ma_ma6 = #{maMa6}</if>
            <if test="maMa7 != null and maMa7 != ''">and ma_ma7 = #{maMa7}</if>
            <if test="maMa8 != null and maMa8 != ''">and ma_ma8 = #{maMa8}</if>
            <if test="volVolume != null and volVolume != ''">and vol_volume = #{volVolume}</if>
            <if test="volMavol1 != null and volMavol1 != ''">and vol_mavol1 = #{volMavol1}</if>
            <if test="volMavol2 != null and volMavol2 != ''">and vol_mavol2 = #{volMavol2}</if>
            <if test="macdDif != null and macdDif != ''">and macd_dif = #{macdDif}</if>
            <if test="macdDea != null and macdDea != ''">and macd_dea = #{macdDea}</if>
            <if test="macdMacd != null and macdMacd != ''">and macd_macd = #{macdMacd}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="likeList" resultType="com.bootdo.futures.domain.FuturesDO">
        select
        `id`,`trancode`,`time`,`opening`,`highest`,`lowest`,`closing`,`volume`,`ma_ma1`,`ma_ma2`,`ma_ma3`,`ma_ma4`,`ma_ma5`,`ma_ma6`,`ma_ma7`,`ma_ma8`,`vol_volume`,`vol_mavol1`,`vol_mavol2`,`macd_dif`,`macd_dea`,`macd_macd`
        from tb_futures
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="trancode != null and trancode != ''">and trancode LIKE #{trancode}</if>
            <if test="time != null and time != ''">and time = #{time}</if>
            <if test="opening != null and opening != ''">and opening = #{opening}</if>
            <if test="highest != null and highest != ''">and highest = #{highest}</if>
            <if test="lowest != null and lowest != ''">and lowest = #{lowest}</if>
            <if test="closing != null and closing != ''">and closing = #{closing}</if>
            <if test="volume != null and volume != ''">and volume = #{volume}</if>
            <if test="maMa1 != null and maMa1 != ''">and ma_ma1 = #{maMa1}</if>
            <if test="maMa2 != null and maMa2 != ''">and ma_ma2 = #{maMa2}</if>
            <if test="maMa3 != null and maMa3 != ''">and ma_ma3 = #{maMa3}</if>
            <if test="maMa4 != null and maMa4 != ''">and ma_ma4 = #{maMa4}</if>
            <if test="maMa5 != null and maMa5 != ''">and ma_ma5 = #{maMa5}</if>
            <if test="maMa6 != null and maMa6 != ''">and ma_ma6 = #{maMa6}</if>
            <if test="maMa7 != null and maMa7 != ''">and ma_ma7 = #{maMa7}</if>
            <if test="maMa8 != null and maMa8 != ''">and ma_ma8 = #{maMa8}</if>
            <if test="volVolume != null and volVolume != ''">and vol_volume = #{volVolume}</if>
            <if test="volMavol1 != null and volMavol1 != ''">and vol_mavol1 = #{volMavol1}</if>
            <if test="volMavol2 != null and volMavol2 != ''">and vol_mavol2 = #{volMavol2}</if>
            <if test="macdDif != null and macdDif != ''">and macd_dif = #{macdDif}</if>
            <if test="macdDea != null and macdDea != ''">and macd_dea = #{macdDea}</if>
            <if test="macdMacd != null and macdMacd != ''">and macd_macd = #{macdMacd}</if>
            <if test="monthExcept != null and monthExcept != ''">and date_format(time,'%m') != #{monthExcept}</if>
            <if test="dateMax != null and dateMax != ''">and `time` &lt;= #{dateMax}</if>
            <if test="dateMin != null and dateMin != ''">and `time` &gt;= #{dateMax}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by time
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from tb_futures
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="trancode != null and trancode != ''">and trancode = #{trancode}</if>
            <if test="time != null and time != ''">and time = #{time}</if>
            <if test="opening != null and opening != ''">and opening = #{opening}</if>
            <if test="highest != null and highest != ''">and highest = #{highest}</if>
            <if test="lowest != null and lowest != ''">and lowest = #{lowest}</if>
            <if test="closing != null and closing != ''">and closing = #{closing}</if>
            <if test="volume != null and volume != ''">and volume = #{volume}</if>
            <if test="maMa1 != null and maMa1 != ''">and ma_ma1 = #{maMa1}</if>
            <if test="maMa2 != null and maMa2 != ''">and ma_ma2 = #{maMa2}</if>
            <if test="maMa3 != null and maMa3 != ''">and ma_ma3 = #{maMa3}</if>
            <if test="maMa4 != null and maMa4 != ''">and ma_ma4 = #{maMa4}</if>
            <if test="maMa5 != null and maMa5 != ''">and ma_ma5 = #{maMa5}</if>
            <if test="maMa6 != null and maMa6 != ''">and ma_ma6 = #{maMa6}</if>
            <if test="maMa7 != null and maMa7 != ''">and ma_ma7 = #{maMa7}</if>
            <if test="maMa8 != null and maMa8 != ''">and ma_ma8 = #{maMa8}</if>
            <if test="volVolume != null and volVolume != ''">and vol_volume = #{volVolume}</if>
            <if test="volMavol1 != null and volMavol1 != ''">and vol_mavol1 = #{volMavol1}</if>
            <if test="volMavol2 != null and volMavol2 != ''">and vol_mavol2 = #{volMavol2}</if>
            <if test="macdDif != null and macdDif != ''">and macd_dif = #{macdDif}</if>
            <if test="macdDea != null and macdDea != ''">and macd_dea = #{macdDea}</if>
            <if test="macdMacd != null and macdMacd != ''">and macd_macd = #{macdMacd}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.bootdo.futures.domain.FuturesDO" useGeneratedKeys="true" keyProperty="id">
		insert into tb_futures
		(
			`trancode`, 
			`time`, 
			`opening`, 
			`highest`, 
			`lowest`, 
			`closing`,
        `volume`,
        <if test="maMa1 != null">`ma_ma1`,</if>
        <if test="maMa2 != null">`ma_ma2`,</if>
        <if test="maMa3 != null">`ma_ma3`,</if>
        <if test="maMa4 != null">`ma_ma4`,</if>
        <if test="maMa5 != null">`ma_ma5`,</if>
        <if test="maMa6 != null">`ma_ma6`,</if>
        <if test="maMa7 != null">`ma_ma7`,</if>
        <if test="maMa8 != null">`ma_ma8`,</if>
        `vol_volume`
        <if test="volMavol1 != null">,`vol_mavol1`,</if>
        <if test="volMavol2 != null">`vol_mavol2`,</if>
        <if test="macdDif != null">`macd_dif`,</if>
        <if test="macdDea != null">`macd_dea`,</if>
        <if test="macdMacd != null">`macd_macd`</if>
		)
		values
		(
			#{trancode}, 
			#{time}, 
			#{opening}, 
			#{highest}, 
			#{lowest}, 
			#{closing},
        #{volume},
        <if test="maMa1 != null">#{maMa1},</if>
        <if test="maMa2 != null">#{maMa2},</if>
        <if test="maMa3 != null">#{maMa3},</if>
        <if test="maMa4 != null">#{maMa4},</if>
        <if test="maMa5 != null">#{maMa5},</if>
        <if test="maMa6 != null">#{maMa6},</if>
        <if test="maMa7 != null">#{maMa7},</if>
        <if test="maMa8 != null">#{maMa8},</if>
        #{volVolume}
        <if test="volMavol1 != null">,#{volMavol1},</if>
        <if test="volMavol2 != null">#{volMavol2},</if>
        <if test="macdDif != null">#{macdDif},</if>
        <if test="macdDea != null">#{macdDea},</if>
        <if test="macdMacd != null">#{macdMacd}</if>
		)
	</insert>

    <update id="update" parameterType="com.bootdo.futures.domain.FuturesDO">
        update tb_futures
        <set>
            <if test="trancode != null">`trancode` = #{trancode},</if>
            <if test="time != null">`time` = #{time},</if>
            <if test="opening != null">`opening` = #{opening},</if>
            <if test="highest != null">`highest` = #{highest},</if>
            <if test="lowest != null">`lowest` = #{lowest},</if>
            <if test="closing != null">`closing` = #{closing},</if>
            <if test="volume != null">`volume` = #{volume},</if>
            <if test="maMa1 != null">`ma_ma1` = #{maMa1},</if>
            <if test="maMa2 != null">`ma_ma2` = #{maMa2},</if>
            <if test="maMa3 != null">`ma_ma3` = #{maMa3},</if>
            <if test="maMa4 != null">`ma_ma4` = #{maMa4},</if>
            <if test="maMa5 != null">`ma_ma5` = #{maMa5},</if>
            <if test="maMa6 != null">`ma_ma6` = #{maMa6},</if>
            <if test="maMa7 != null">`ma_ma7` = #{maMa7},</if>
            <if test="maMa8 != null">`ma_ma8` = #{maMa8},</if>
            <if test="volVolume != null">`vol_volume` = #{volVolume},</if>
            <if test="volMavol1 != null">`vol_mavol1` = #{volMavol1},</if>
            <if test="volMavol2 != null">`vol_mavol2` = #{volMavol2},</if>
            <if test="macdDif != null">`macd_dif` = #{macdDif},</if>
            <if test="macdDea != null">`macd_dea` = #{macdDea},</if>
            <if test="macdMacd != null">`macd_macd` = #{macdMacd}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from tb_futures where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from tb_futures where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>